Q1. What is a database? Differentiate between SQL and NoSQL databases.                                            
A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database.     

Data within the most common types of databases in operation today is typically modeled in rows and columns in a series of tables to make processing and data querying efficient. The data can then be easily accessed, managed, modified, updated, controlled, and organized. Most databases use structured query language (SQL) for writing and querying data.           

SQL databases are vertically scalable, while NoSQL databases are horizontally scalable. SQL databases are table-based, while NoSQL databases are document, key-value, graph, or wide-column stores. SQL databases are better for multi-row transactions, while NoSQL is better for unstructured data like documents or JSON.

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example                                  
Data Definition Language (DDL) is a subset of SQL. It is a language for describing data and its relationships in a database. You can generate DDL in a script for database objects to: Keep a snapshot of the database structure.                       
CREATE :                                     

This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes.                                       

Ex-                                                             

CREATE TABLE Student_info ( College_Id number(23), College_name varchar(34), Branch varchar(10) );                          

ALTER :                                        

This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.                                            

Ex-                                       

ALTER TABLE Student_info ADD CGPA number;                               

TRUNCATE :                                                                   

This command is used to remove all rows from the table, but the structure of the table still exists.                             

Ex-                                 

TRUNCATE TABLE Student_info;                                                    

DROP :                                                                                       

This command is used to remove an existing table along with its structure from the Database.                            

Ex-                                          

DROP TABLE Student_info;

 Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.                                                  
DML, or the Data Manipulation Language, helps us deal with managing and manipulating data in the database.            
INSERT is used to insert records into a specified table of the database. you have to use the ‘INSERT’ clause           
INSERT INTO Students(StudentId, StudentName, DepartmentId, DateOfBirth)                                       
              VALUES(11, 'Ahmad', 4, '1997-10-12');                       
UPDATE Query is used to modifying the existing records in a table. You can use WHERE clause with UPDATE query to update selected rows.                                                  
UPDATE Students                                                   
SET DepartmentId = 3                                                       
WHERE StudentId = 6;                            
DELETE query is used to remove existing records from a specified table. You can use the WHERE clause with DELETE queries to delete the selected rows.                         
DELETE FROM Students WHERE StudentId = 11 OR StudentId = 12;

Q4. What is DQL? Explain SELECT with an example.                                                    
DQL statements are used for performing queries on the data within schema objects. The purpose of DQL commands is to get the schema relation based on the query passed to it.                                      
The SELECT statement is used to select data from a database.                                                               

The data returned is stored in a result table, called the result-set                                       
Ex- SELECT * FROM table_name; This above command retrives all the data from table                                     

SELECT ROLL_NO, NAME, AGE FROM Student; This command retrives ROLL_NO, NAME and AGE from student table.

Q5. Explain Primary Key and Foreign Key                                                                          
Primary Key: A primary key is used to ensure that data in the specific column is unique. A column cannot have NULL values. It is either an existing table column or a column that is specifically generated by the database according to a defined sequence.                                                                                                                            
A foreign key is a column or group of columns in a relational database table that provides a link between data in two tables. It is a column (or columns) that references a column (most often the primary key) of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.                         
import mysql.connector                                                                                                  

mydb = mysql.connector.connect( host="localhost", user="abc", password="password" ) print(mydb) mycursor = mydb.cursor()       mycursor.execute("CREATE TABLE if not exists test.test_table(c1 INT,c2 VARCHAR(50),c3 INT,c4 FLOAT,c5 VARCHAR(30))")      mydb.close()                                                                                                         

Cursor is a Temporary Memory or Temporary Work Station. It is Allocated by Database Server at the Time of Performing DML(Data Manipulation Language) operations on Table by User. Cursors are used to store Database Tables.                           

The Execute method executes the query, SQL statement or procedure specified in the CommandText property of the Command object. The results are stored in a new Recordset object if it is a row-returning query. A closed Recordset object will be returned if it is not a row-returning query.

Q7. Give the order of execution of SQL clauses in an SQL query.                                                    
Order of execution is:                                                 

1.from                                                        

2.where                                                          

3.group by                                                             

4.having                                                             

5.select                                                                

6.order by                                                   

7.limit